h1 { 
    font-size: 45px;
	font-style: arial;
	color: black;
}

h2 { 
    font-size: 3em;
	font-style: arial;
	color: black;
}

h3 { 
    font-size: 100%;
	font-style: arial;
	color: black;
}