body {
	background-image: url("background.jpg");
}

h1 {
	font-family: Arial;
	font-size: 40px;
	text-align: center;
	border-style: solid;
	border-width: 0px;
	border-color: black;
	background-color: #F2F2F2;
}

div.square-background {
	height: 2000px;
	width: 1800px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	display: block;
	background-color: #F2F2F2;
	opacity: 0.90;
}

.nav-login {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%
}

.nav-signup {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
	line-height: 30px
}

div.Home-staff-top-details{
	font-family: Arial;
	font-size: 20px;
	text-align: center;
	border-style: solid;
	border-width: 0px;
	border-color: black;
	background-color: #F2F2F2;
}
